:root {
    --clr-bg: #111111;
    --clr-fg: #dddddd;
    --clr-primary: #8c192c;
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--clr-bg);
    color: var(--clr-fg);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-family: monospace;
}

#game {
    position: relative;

    & .ui {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        color: var(--clr-primary);
        font-size: 2rem;

        &__time {
        }
    }
}
